* {
    font-family: sans-serif;
}

.insights-text {
    font-weight: 200;
    font-size:14px;
}

.search-result {
    margin-top: 10px;
    overflow: scroll;
}

.answer.insights-text {
    white-space: pre-wrap; /* Maintains whitespace but allows wrapping */
    word-wrap: break-word; /* Allows long words to be broken */
    overflow: hidden; /* Hides overflowed content */
    text-overflow: ellipsis; /* Adds ellipsis when text overflows */
    max-width: 100%; /* Ensures the element does not exceed its container */
  }

.surprise {
    background-color: #ececf1;
    color: #000;
    border-radius: 5px;
    font-weight: 600;
    padding: 4px 12px;
    margin: 0 0 2px 5px;
    border: none;
}

.input-container {
    width: 100%;
    display: flex;
    border: solid 0.5px #cacaca;
    box-sizing: border-box;
    border-radius: 6px;
    box-shadow: rgba(0,0,82,0,15) 0 2px 4px;
    overflow: hidden;
}

.input-container input{
    border: none;
    padding: 13px 14px;
    box-sizing: border-box;
    font-size: 15px;
    outline: none;
    width: 90%;
    font-weight: 200;
}

.input-container input::placeholder{
    color: #cacaca;
    font-weight: 200;
}

.input-container button {
    min-width: 10%;
    border: none;
    border-left: 1px solid #cacaca;
    background-color: #fff;
    color: #777;
    font-weight: bold;
    cursor: pointer;
}

.input-container button:active {
   background-color: #cacaca; 
}

.answer {
    padding: 13px 14px;
    border: solid 0.5px #cacaca;
    background-color: white;
    margin: 5px;
    font-size: 15px;
    font-weight: 200;
    border-radius: 6px;
    
}