.width100 {
  width: 100%;
}

.expenselist-heading {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expenselist-heading:hover {
  background-color: #f6f6f6;
}
.expenselist-heading-button-container {
  display: flex;
  justify-content: space-between; /* This will make items start and end */
  align-items: center; /* Align items vertically */
  margin: 10px;
}

.expenselist-title {
  font-size: 1.5rem;
}

.expenselist-AddFilter {
  gap: 0.5rem;
}

.expenselist-button {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1a1a1a;
  border-radius: 20%;
  box-sizing: border-box;
  color: #3b3b3b;
  cursor: pointer;
  display: inline-block;
  outline: none;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  touch-action: manipulation;
  will-change: transform;
}

.expenselist-button:disabled {
  pointer-events: none;
}

.expenselist-button:hover {
  color: #fff;
  background-color: #1a1a1a;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.expenselist-button:active {
  box-shadow: none;
  transform: translateY(0);
}

.expenselist-button-container {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  align-items: center;
}

.expenselist-editdel {
  cursor: pointer;
  transition: all 0.2s;
}

.expenselist-editdel:hover {
  transform: translateY(-3px);
}
