:root {
  --blue: #8BAFFF;
  --dark-blue: #1628FA;
  --darker-blue: #1323d1;
  --black: #08090A;
  --grey: #3B4555;
  --light-grey: #a5bbd0;
  --red: #DA396A;
  --green: #04A85A;
  --yellow: #E8D600;
}

.width100 {
  width: 100%;
}

.navbar-logo-container {
  display: flex;
  align-items: center;
  cursor: default;
}

.navbar-logo {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

.navbar-text-logo {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-custom {
  background-color: var(--dark-blue);
}

.btn-primary {
  --bs-btn-color: white !important;
  --bs-btn-bg: var(--dark-blue) !important;
  --bs-btn-border-color: var(--dark-blue) !important;
  --bs-btn-hover-bg: var(--darker-blue) !important;
  --bs-btn-hover-border-color: var(--darker-blue) !important;
}

.expenselist-heading {
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.expenselist-heading:hover {
  background-color: #f6f6f6;
}

.expenselist-heading-button-container {
  display: flex;
  justify-content: space-between; /* This will make items start and end */
  align-items: center; /* Align items vertically */
  margin: 10px;
}

.expenselist-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  transition: all 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
}

.expenselist-button-add {
  background-color: var(--blue);
  color: #fff;
}

.expenselist-button-add:hover {
  background-color: var(--black);
}

.expenselist-button-filter {
  background-color: var(--grey);
  color: #fff;
}

.expenselist-button-filter:hover {
  background-color: var(--black);
}

.expenselist-button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.expenselist-button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.expenselist-editdel {
  cursor: pointer;
  transition: all 0.2s;
}

.expenselist-editdel:hover {
  transform: translateY(-3px);
}

.sectionone-positive {
  color: green !important;
  background-color: lightgreen;
}

.sectionone-negative {
  color: red !important;
  background-color: pink;
}

.sectionone-tooltip-container {
  position: relative;
  display: inline-block;
  cursor: help;
}

.sectionone-tooltip-container .sectionone-tooltip-text {
  visibility: hidden;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.55);
  color: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  transition: opacity 0.3s;
}

.sectionone-tooltip-container .sectionone-tooltip-text::after {
  content: "";
  position: absolute;
  top: 100%; /* Arrow below the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.sectionone-tooltip-container:hover .sectionone-tooltip-text {
  visibility: visible;
  opacity: 1;
}
